<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.esa.homepod-climate</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/esaruoho/work/apple/homepod/homepod-climate.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>600</integer>
    <key>StandardErrorPath</key>
    <string>/Users/esaruoho/work/apple/homepod/climate-logs/error.log</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
